@font-face {
  font-family:'Miracle.woff2';
  src: url(../fonts/Miracle.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Helvetica Neue LT Std 55 Roman */
@font-face {
  font-family: 'HelveticaNeueLTsd55-Roman';
  src: url(../fonts/HelveticaNeueLTStd-Roman.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Helvetica Neue LT Std 65 Medium */
@font-face {
  font-family: 'HelveticaNeueLTsd-65Medium';
  src: url(../fonts/HelveticaNeueLTStd-Md.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Helvetica Neue LT Std 56 Italic */
@font-face {
  font-family: 'HelveticaNeueLTsd56-italic';
  src: url(../fonts/HelveticaNeueLTStd-It.woff2) format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}