@use'../helpers' as *;

.burger-button {
  background-color: var(--color-future-tech);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: rem(5) rem(3);
  color: var(--color-light);
  border: none;
  gap: rem(5);

  width: rem(44);
  min-width: rem(44);
  max-width: rem(44);
  height: rem(44);

  flex-shrink: 0;
  flex-grow: 0;
  position: relative;
  z-index: 101;

  @include hover {
    background-color: var(--color-golden-yellow);
  }

  &.is-active {
    .burger-button__line {
      &:first-child {
        rotate: 45deg;
        transform-origin: center;
        translate: 0 rem(4);
      }
      &:nth-child(2) {
        rotate: -45deg;
        transform-origin: center;
        translate: 0 rem(-4);
      }
    }
  }

  &__line {
    display: block;
    width: 100%;
    height: rem(3);
    background-color: currentColor;
    flex-shrink: 0;
    border-radius: rem(3);
    transition-duration: var(--transition-duration);
  }
}