@use'../helpers' as *;
.ourFaciLities{
  &-main{
    padding-top: rem(150);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:rem(92);
    @include tablet {
      justify-content: center;
    }
    &__img{
      @include tablet{
        @include hide;
      }
    }
    &__title{
      display: flex;
      align-items: center;
    }
  }
  &-main__title{
    display: flex;
    align-items: center;
  }
}








.corectText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#ourFaci {
  display: inline-flex;
  align-items: center;
  gap: fluid(50, 1);

  svg {
    display: block;
  }
}