@use'../helpers' as *;
.rooms__apt{
  padding-top:fluid(103,30) ;
  &__text{
    &__title{
      &-left{}
      &-right{
        font-size: fluid(26, 12);
      }
    }
    &-top{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      font-weight: 400;
      text-transform: uppercase;
      @include peresrtou{
        flex-direction: column;
        align-items: center;
      }
    }
  }
  &__element{
    display: flex;
    width: 100%;
    @include tablet{
      flex-direction: column-reverse;
      align-items: center;
    }
   &__text{
     &-left{
       flex-shrink: 1;
       @include peresrtou-above{
         display: flex;
         align-items: center;
       }
       &-top{
         display: flex;
         align-items: flex-start;
         gap:rem(50) ;
         padding-top: rem(100);
         &__element-decorate{
           display: flex;
           align-items: center;
           justify-content: center;
           gap: rem(12);
           border:rem(1) solid var(--gray);
           border-radius:rem(99);
           padding: rem(20) rem(45);
           height: rem(70);
         }
         @include laptop{
           @include hide;
         }
       }
       &-bottom{

         &__button{
           padding-top:rem(90);
           display: flex;
           align-items: flex-start;
           justify-content: center;

           gap: fluid(303, 1);

           @include laptop{
             flex-direction: row;
             justify-content: center;
             align-items: flex-start;
             padding-top: rem(50);
           }
         }
       }
     }
   }
    &__img-right {
      flex-shrink: 1;
      margin-left: auto;
      width: fluid(757, 355);
      height: fluid(1000, 423);
      padding-top: rem(50);
      padding-left: rem(50);
      @include peresrtou{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
      }
    }
  }
}
.text-content {
  display: flex;
  flex-direction: column;
  max-width: rem(500);
}

#rooms_apt-svg {
  width: fluid(170, 70);
  height: fluid(170, 70);

  min-width: rem(70);
  min-height: rem(70);

  max-width: rem(170);
  max-height: rem(170);
}

#rooms_apt-svg svg {
  width: 100%;
  height: 100%;
  display: block;
}