@use 'helpers' as *;

main{
  flex-grow: 1;
}

html{
  &.is-lock{
    overflow: hidden;
  }
}

body{
  @include fluid-text(18,14);

  font-family: var(--font-family-base);

  display: flex;
  flex-direction: column;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-dark-green-Text);
  font-weight: 400;
}

h1, .h1,
h2, .h2,
h3, .h3{
  font-family:var(--font-family-accent)
}

h1, .h1{
  @include fluid-text(220,80);

  line-height: 0.90909;
}
h2, .h2{
  @include fluid-text(150,60);

  line-height: 0.86667;
}
h3, .h3{
  @include fluid-text( 80,30);
  line-height: 1;
}
h4, .h4{
  @include fluid-text( 50,30);
  line-height: 1;
}
h5, .h5{
  @include fluid-text( 26,18);
  line-height: 1;
}

a,button,input,select,textarea,label,svg*{
  transition-duration: var( --webkit-transition-duration);
}

a{
  font-family: var();

  color:inherit;

  @include hover{
    color:var(--color-link-hover);
  }

  &[class]{
    text-decoration: none;
  }
}

:focus-visible{
  outline: rem(2) solid var(--color-light);
  transition-duration: 0s !important;
}


a,
button{
  &[aria-label]{
    position:relative;


    &::before{
      @include abs-center;
      @include square(rem(44));
      content:'';
    }
  }
}

.text__yelow{
  color: var(--color-bace);
}
.text__grey{
  color: var(--gray);
}

