@use 'helpers' as *;
:root {
--color-light:#FFFCF6;
  --color-dark-green-Text:#1B3B36;
  --color-future-tech:#313F38;
  --color-golden-yellow: #eaae00;
  --color-link-hover:#455955;
  --color-section: #ffffff;
  --gray:#808080;
  --color-bace:#FCD043;;

  --border :rem(1) solid var(--color-light);

  --font-family-base:'HelveticaNeueLTsd55-Roman';
  --font-family-accent: 'Miracle';

  --container-width: #{rem(1860)};


  --webkit-transition-duration:0.2s;

  @include laptop{
    --container-width: #{rem(1440)};
  }
}
