@use 'normalize';
@use '../fonts';
@use 'variables';
@use 'utils';
@use 'globals';
@use '../helpers/scrollbar-hide';

@use '../bloks/icon';
@use '../bloks/All-button';
@use '../bloks/burger-button';
@use '../bloks/header';
@use '../bloks/footer';
@use '../bloks/hero';
@use '../bloks/about';
@use '../bloks/room__apartments';
@use '../bloks/ourFaciLities';
@use '../bloks/Bestapart';
@use '../bloks/Ourgallery';